<%= simple_form_for([@filter, @value]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.association :filter %>
  </div>

  <div class="actions">
    <%= f.button :submit, id: "value_commit" %>
  </div>
<% end %>
