<h1>Listing values</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Filter</th>
    <th></th>
    <th></th>
  </tr>

<% @values.each do |value| %>
  <tr>
    <td><%= value.name %></td>
    <td><%= value.filter.name %></td>
    <td><%= link_to 'Edit', edit_filter_value_path(@filter, value) %></td>
    <td><%= link_to 'Destroy', [@filter, value], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Value', new_filter_value_path(@filter) %>
