<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @value.name %>
</p>

<p>
  <b>Filter:</b>
  <%= @value.filter %>
</p>


<%= link_to 'Edit', edit_value_path(@value) %> |
<%= link_to 'Back', values_path %>
