<%= simple_form_for(@section) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <div class="actions">
    <%= f.button :submit, :id => "section_commit" %>
  </div>
<% end %>
