<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :belongs_to %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
