<%= simple_form_for([@section,@product]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <% Filter.all.each do |filter| %>
      <%= filter.name %>
      <%= f.association :values, as: :check_boxes, collection: filter.values%>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, id: "product_commit" %>
  </div>
<% end %>
