<!DOCTYPE html>
<html>
<head>
  <title>Cotologue</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/flashes' %>

<%= yield %>

</body>
</html>
